<div class="container">
  <h2><i class="fa fa-archive"></i> All form schemes</h2>
  <div *ngFor="let scheme of schemes" class="card">
    <div class="card-content">
      <span class="card-title">
        {{ scheme.name }}
      </span>
      <a
        routerLink="/admin/schemes/{{ scheme.name }}/edit"
        class="btn green btn-block"
      >
        <i class="fa fa-pencil"></i> Edit scheme
      </a>
      <!-- Add event listener -->
      <button (click)="onDeleteClick(scheme.name)" class="btn red btn-block">
        <i class="fa fa-times-circle"></i> Delete
      </button>
    </div>
  </div>
</div>
