<div class="container">
  <h1><i class="fa fa-envelope"></i> My Inbox</h1>
  <p>Here are your pending documents for approval</p>
  <!-- Pending documents -->
  <div class="card" *ngFor="let document of pendingDocuments">
    <div class="card-content">
      <span class="card-title">{{ document.schemeName }}</span>
      <p>
        <strong>Date submitted: </strong> {{ document.creationDate | date }}
      </p>
      <!-- Approval progress -->
      <p><strong>Approval progress: </strong></p>
      <div class="progress-bar">
        <div
          class="progress-approvals"
          [ngStyle]="{ width: document.approvalProgress }"
        >
          {{ document.approvalProgress }}
        </div>
      </div>
      <!-- Rejection progress -->
      <p><strong>Rejection progress: </strong></p>
      <div class="progress-bar">
        <div
          class="progress-rejections"
          [ngStyle]="{ width: document.rejectionProgress }"
        >
          {{ document.rejectionProgress }}
        </div>
      </div>
      <a routerLink = "/user/viewForms/dashboard/answered/view/{{this.authService.getCurrentUser().username}}/{{ document.schemeName }}/{{document.creationDate}}" class="btn grey btn-block darken-2"><i class="fa fa-book"></i> Form info</a>      
      <button (click)="onDeleteClick(document.schemeName,document.creationDate)" class="btn red btn-block">
        <i class="fa fa-times-circle"></i> Delete
      </button>
    </div>
  </div>
</div>
