<div class="container">
  <h1><i class="fa fa-envelope"></i> My Forms</h1>
  <p>Here are templates of forms for your requests</p>
  <!-- Pending documents -->
  <div class="card" *ngFor="let document of schemeItems">
    <div class="card-content">
      <span class="card-title">{{ document.name }}</span>
      <a
        href="#"
        class="btn grey btn-block darken-2"
        (click)="onSubmit()"
        routerLink="{{ document.name }}/fill"
      >
        Request
      </a>
    </div>
  </div>
</div>
