<!-- Question value rendering -->
<div [formGroup]="form">
  <div [ngSwitch]="question.component">
    <div *ngSwitchCase="'textbox'">
      <mat-form-field appearance="fill">
        <mat-label>{{ question.label }}</mat-label>
        <input
          matInput
          [formControlName]="question.name"
          [id]="question.name"
          [type]="question.type"
          readonly
        />
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'dropdown'">
      <mat-form-field appearance="fill" class="down1">
        <mat-label class="color1">{{ question.value }}</mat-label>
        <mat-select [id]="question.name" [formControlName]="question.name">
          <mat-option *ngFor="let opt of question.displayables" [value]="opt">
            {{ opt }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ question.label }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
