<div class="container">
  <h1><i class="fa fa-envelope"></i> My Pending Forms</h1>
  <p>Here are your pending forms</p>
  <!-- Pending documents -->
  <div class="card" *ngFor="let document of formItems">
    <div class="card-content">
      <span class="card-title">{{ document.schemeName }}</span>
      <p>{{ document.createDate }}</p>
      <a
        href="#"
        class="btn grey btn-block darken-2"
        routerLink="view/{{ document.username }}/{{ document.schemeName }}/{{
          document.createDate
        }}"
      >
        View
      </a>
    </div>
  </div>
</div>
