<div class="container" fxFlexFill>
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="color elementWidth" fxFlex="25">
      <mat-toolbar class="mat-card greenCard">Login Page</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            matInput
            placeholder="Username"
            name="username"
            [(ngModel)]="username"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            type="password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
        <button mat-button type="submit" class="centerButton" value="Submit">
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
