<div class="container">
    <h1><i class="fa fa-envelope"></i> My Inbox</h1>
    <p>Here are your pending documents for approval</p>
    <!-- Pending documents -->
    <div class="card" *ngFor="let document of pendingDocuments">
      <div class="card-content">
        <span class="card-title">{{ document.schemeName }}</span>
        <p><strong>Date submitted: </strong> {{ document.creationDate | date }}</p>
        <a href="#" class="btn grey btn-block darken-2">Read more</a>
      </div>
    </div>
  </div>