<html>
  <header></header>
  <body>
    <div class="container">
      <h2><i class="fa fa-archive"></i> All form schemes</h2>
      <div *ngFor="let routePreview of routePreviews" class="card">
        <div class="card-content">
          <span class="card-title">
            {{ routePreview.name }}
          </span>
          <!-- Display information -->
          <div class="card-content">
            <span>{{ routePreview.schemeName }}</span>
          </div>
          <!-- Activate Switch -->
          <div class="switch">
            <label>
              Not Active
              <input
                type="checkbox"
                [(ngModel)]="routePreview.isActive"
                [ngModelOptions]="{ standalone: true }"
                (click)="onToggle(routePreview.name)"
              />
              <span class="lever"></span>
              Active
            </label>
          </div>

          <!-- Modal Structure Authors -->
          <div class="margins">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Authors</mat-panel-title>
                <mat-panel-description>
                  This is are the authors of the route
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngIf="routes != undefined">
                <div *ngFor="let authors of routes.authors" class="card">
                  <mat-panel-description class="textAcordion">{{
                    authors.name
                  }}</mat-panel-description>
                </div>
              </div>
            </mat-expansion-panel>
          </div>

          <!-- Modal Structure Approvers -->
          <div class="margins">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Approvers</mat-panel-title>
                <mat-panel-description>
                  This is are the authors of the route
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let routePreview of routePreviews" class="card">
                <mat-panel-description class="textAcordion"
                  >gika</mat-panel-description
                >
              </div>
            </mat-expansion-panel>
          </div>

          <!-- View Button -->
          <!-- Delete Button -->
          <button
            (click)="onDeleteClick(routePreview.name)"
            class="btn red btn-block"
          >
            <i class="fa fa-times-circle"></i> Delete Route
          </button>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
