<!-- Question value rendering -->
<div [formGroup]="form">
  <div [ngSwitch]="question.component">
    <div *ngSwitchCase="'textbox'">
      <mat-form-field appearance="fill">
        <mat-label>{{ question.label }}</mat-label>
        <input
          matInput
          [formControlName]="question.name"
          [id]="question.name"
          [type]="question.type"
        />
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'dropdown'">
      <mat-form-field appearance="fill">
        <mat-label class="color1">{{ question.label }}</mat-label>
        <mat-select [id]="question.name" [formControlName]="question.name">
          <mat-option *ngFor="let opt of question.options" [value]="opt.key">
            {{ opt.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
