<div class="container">
    <h1><i class="fa fa-envelope"></i> My Form History</h1>
    <p>Here are your pending for review documents </p>
    <!-- Pending documents -->
    <div class="card" *ngFor="let document of pendingDocuments">
      <div class="card-content">
        <span class="card-title">{{ document.schemeName }}</span>
        <p><strong>Date submitted: </strong> {{ document.creationDate | date }}</p>
        <p><strong>Form Author: </strong> {{ document.authorUsername }}</p>
        <a routerLink = "/admin/viewForms/pendingDashboard/answered/view/{{document.authorUsername}}/{{ document.schemeName }}/{{document.creationDate}}" class="btn grey btn-block darken-2"
        ><i class="fa fa-book"></i> Form info</a>
        <a routerLink = "/admin/form/routeInfoDashboard/{{document.authorUsername}}/{{ document.schemeName }}/{{document.creationDate}}" class="btn grey btn-block darken-2"
        ><i class="fa fa-road"></i> Route info</a>
      </div>
    </div>
  </div>
